@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
:root { /*Bu şekilde sitemizde kullanacağımız renkleri tanımlayıp bunu sitede kullanabiliriz.*/
    --white: #fff;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --dark: #343a40;
    --light: #f8f9fa;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
    font-size: 10px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: white;
  color: #333;
  line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2{
    font-weight:300;
    line-height: 1.2;
}
p{
    margin: 1rem 0;
}
img{
    width: 100%;
}
.text-center{
    text-align: center;
}
/*navbar kısmı*/
.navbar{
    display: flex;
    align-items: center; /*Dikeyde ortalıyoruz*/
    justify-content: space-between; /*Yatayda da aralarında bosluk bırakarak linkleri sağa yasladık.*/
    background-color: var(--dark);
    opacity: 0.8;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 70px;
    top:0;
    padding: 0 3rem;
}
 /*Navbarın altındaki a etiketi kısmı yani link kısmı*/
.navbar a{
    color: white;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
}

.navbar ul{
    display: flex; /*Linkleri yan yana alıyoruz*/
}
.navbar a:hover{
    border-bottom: 2px solid var(--warning);
}

.navbar .brand{
    font-weight: 400;
}

.navbar h1{
    font-size: 3rem;
}

.navbar span{
    color: var(--warning);
}

/*HEADER KISMI*/

.main-header{/*Resmi ekliyoruz ve tüm ekrana sığdırıyoruz*/
    background-image: url(bg-1.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    position: relative;

}

.main-header .content{ /*Yazıyı resmin tam ortasına getirdik*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main-header::before{ /*Resme bir saydam renk ekledik ama bundan tüm yazılar eklenicek bu yüzden*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.main-header *{ /*Yazıları gösteriyoruz saydamlıktan etkilenmemesi icin*/
    z-index: 5;
}

.main-header .content h1{
    font-size: 5.5rem;
}
.main-header .content p{
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
}
.main-header.blog{
    background-image: url(bg-2.jpeg);

}
/*icons*/
.icons{
    padding: 30px;
}
.icons h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.icons i{
    background-color: var(--danger);
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

/*about*/
#about{
    color: white;
}

#about h2{
    font-size: 4rem;
    font-weight: 400;
}

#about p{
    margin: 2rem 0;
}

/*gallery*/
#gallery img:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*yönetim*/
.teams img:hover{
    opacity: 0.7;
}

/*form*/
.contact-form{
    width: 100%;
    padding: 2rem 0;
}
.contact-form label{
    display: block;
    margin-bottom: .5rem;
}

.contact-form .form-control{
    margin-bottom: 1.5rem;
}

.contact-form input{
    width: 100%;
    padding: .5rem;
    height: 40px;
    border: 1px solid #f5f5f5;
}

.contact-form button{
    margin-top: 20px;
}

  .column-2 h1 {
    color: #dc3545;
    text-align: center;
    margin-left: 40%;
  } 
  
/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    }

.footer a{
    color:black;
}
.footer a:hover{
    opacity: 0.7;
}

.footer .social a{
    margin-right: 10px;
}

/* mobile */
@media (max-width : 768px){
    html{
        font-size: 8px;
    }
    .navbar{
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a{
        padding: 10px;
        margin: 0 3px;
    }
    .teams img{
        width: 70%;
    }
    
}

/* article */
.articles{
    padding: 3rem 5rem;
}
.article{
    margin-top: 1.5rem;
    color: white;
    text-align: left;
}

.article h4{
    color: white;
    padding: 20px 0px;

}
